body
    padding: 0
    margin: 0
    display: flex
    flex-direction: column

.flex 
    display: flex

    &.justify-center
        justify-items: center
        justify-content: center

    .align-center
        align-items: center
        align-content: center

    &.horizontal
        flex-direction: row
        flex-wrap: wrap

        &.gap
            >section,>div,>span
                margin-right: 1em

                &:last-child
                    margin-right: 0

    &.vertical
        flex-direction: column

.hide-on-mobile
    @media(max-width: 768px)
        display: none !important

.hide-on-desktop
    @media(min-width: 768px)
        display: none !important