<app-page>
    <ng-container title>Calculator</ng-container>
    <ng-container content>
        <section class="flex horizontal justify-center gap">
            <section>
                <app-currency-selector 
                    label="Convert from"
                    [selected]="$base | async"
                    (selectionChanged)=onBaseChange($event)
                ></app-currency-selector>
            </section>
            <section>
                <app-currency-selector 
                    label="Convert to"
                    [selected]="$target | async"
                    (selectionChanged)=onTargetChange($event)
                ></app-currency-selector>
            </section>
            <section>
                <mat-form-field>
                    <mat-label>Ammount</mat-label>
                    <input type="number" matInput [formControl]="ammount">
                </mat-form-field>
            </section>   
        </section>
        <section class="flex justify-center">
            <h1 *ngIf="!!($base | async) && !!($target | async)">
                {{ammount.value}} {{$base | async}} = {{converted.value}} {{$target | async}}
            </h1>
        </section>
    </ng-container>
</app-page>